---
import "../styles/global.css";
import Head from "../components/Header.astro";
import Foot from "../components/Footer.astro";
const { pageTitle, primaryColor, secondaryColor } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body style={`--primaryColor:${primaryColor}; --secondaryColor:${secondaryColor};`}>
		<Head />
		<h1>{pageTitle}</h1>
        <slot />
		<Foot />
		<script>
			import "../scripts/Menu.js";
		</script>
	</body>
</html>